@font-face {
  font-family: 'Inter var';
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Inter-roman.latin.var.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter var';
  font-style: italic;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Inter-italic.latin.var.woff2) format('woff2');
  font-named-instance: 'Italic';
}

body[data-theme='light'] {
  --colors-primary: var(--colors-light-purple);
  --colors-secondary: #cc8899;
  --colors-accent: var(--colors-purple);
  --colors-accent-background: var(--colors-purple-background);
  --colors-text: var(--colors-black);
}

*::selection {
  color: white;
  background-color: var(--colors-selection);
}

body {
  /* constants */
  /* colors */
  --colors-white: white;
  --colors-black: black;
  --colors-light-gray: #e9f1f7;
  --colors-selection: #3297fd;
  --colors-purple-background: #ebe2ff;
  --colors-purple: #432a79;
  --colors-light-purple: #645dd7;
  /* font-sizes */
  --font-sizes-xs: 0.75rem;
  --font-sizes-sm: 0.875rem;
  --font-sizes-md: 1rem;
  --font-sizes-lg: 2rem;
  /* font-weights */
  --font-weights-semibold: 'wght' 600;
  --font-weights-bold: 'wght' 850;
  /* spacing */
  --spaces-xs: 0.25rem;
  --spaces-sm: 0.5rem;
  --spaces-md: 1rem;
  --spaces-lg: 2rem;
  --spaces-xl: 3rem;

  background-color: var(--colors-light-gray);
  padding-left: 1rem;
  padding-right: 1rem;

  font-family: 'Inter var', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-font-smoothing: subpixel-antialiased;
  font-feature-settings: 'case' 1, 'cpsp' 1, 'dlig' 1, 'cv01' 1, 'cv02',
    'cv03' 1, 'cv04' 1;
  font-variation-settings: 'wght' 450;
  font-variant: common-ligatures contextual;
  letter-spacing: -0.02em;
}
b,
strong {
  font-variation-settings: 'wght' 650;
}
h1 {
  font-variation-settings: 'wght' 850;
}
h2 {
  font-variation-settings: 'wght' 750;
  font-size: 1.6rem;
}
h3 {
  font-size: 1.3rem;
  font-variation-settings: 'wght' 650;
}
h4 {
  font-size: 1.2rem;
  font-variation-settings: 'wght' 650;
}
h5 {
  font-size: 1.1rem;
  font-variation-settings: 'wght' 650;
}
h6 {
  font-size: 1rem;
  font-variation-settings: 'wght' 650;
}

@media screen and (min-device-pixel-ratio: 1.5),
  screen and (min-resolution: 1.5dppx) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

details summary {
  cursor: pointer;
}

img.next-image {
  margin: 0;
}

.prose a {
  color: var(--colors-primary);
}

.nav-line .nav-link {
  color: #69778c;
}
